@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&family=Zeyada&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7c7373;
}

.open-modal{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgb(58, 54, 53), rgb(145, 93, 93));
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 200;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 10;
    pointer-events: all;
    transition: opacity 0.5s ease;
}

.open-modal.mask{
    opacity: 0;
    pointer-events: none;
}

.modal-container{
    background: linear-gradient(65deg, lightblue, steelblue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 500px;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 7px;
    transition: all 0.5s ease;
    z-index: 10;
    pointer-events: none;
}

.modal-container.active{
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

.modal-container .top-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.top-modal .title-modal{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.top-modal .close-btn{
    background: none;
    border: none;
    font-size: 1.55rem;
    cursor: pointer;
}

.bot-modal{
    font-family: Zeyada, sans-serif;
    font-size: 17px;
    padding: 15px;
}

.choices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ccc;
}

.choices button{
    padding: 5px 8px;
    background: linear-gradient(65deg, steelblue, lightblue);
    font-family: Ubuntu, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay.show{
    opacity: 1;
}